.container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.card {
  background-color: #f8fafc;
  width: 40%;
  align-self: center;
  border-radius: 15px;
  padding: 40px;
}
.option-item {
  width: 160px;
  padding: 10px;
  margin-right: 10px;
}
